@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboardStyle {
  opacity: 1;
  background-image: linear-gradient(
      #f2f2f2 1.4000000000000001px,
      transparent 1.4000000000000001px
    ),
    linear-gradient(
      90deg,
      #f2f2f2 1.4000000000000001px,
      transparent 1.4000000000000001px
    ),
    linear-gradient(
      #f2f2f2 0.7000000000000001px,
      transparent 0.7000000000000001px
    ),
    linear-gradient(
      90deg,
      #f7f7f7 0.7000000000000001px,
      #ffffff 0.7000000000000001px
    );
  background-size: 35px 35px, 35px 35px, 7px 7px, 7px 7px;
  background-position: -1.4000000000000001px -1.4000000000000001px,
    -1.4000000000000001px -1.4000000000000001px,
    -0.7000000000000001px -0.7000000000000001px,
    -0.7000000000000001px -0.7000000000000001px;
}
